#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_clean:
	$(RM) -r _builddir
	dh_clean

override_dh_auto_configure:
	meson -Dflavors=x11-glesv2,wayland-glesv2,drm-glesv2 -Dprefix=/usr _builddir

override_dh_auto_build:
	ninja -C _builddir

execute_before_dh_install:
	DESTDIR=$(CURDIR)/debian/tmp ninja -C _builddir install

override_dh_installchangelogs:
	dh_installchangelogs NEWS
