#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_clean:
	dh_clean */*.pyc */*/*.pyc .lock-waf*
	$(RM) -r build

override_dh_auto_configure:
	./waf configure -v --with-flavors=x11-gl,x11-glesv2 --prefix=/usr

override_dh_auto_build:
	./waf build -v

override_dh_install:
	./waf --destdir=$(CURDIR)/debian/tmp install
	dh_install

override_dh_installchangelogs:
	dh_installchangelogs NEWS
